* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#h-section-svg, .image-animation {
  max-width: 85%;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  padding-bottom: 1rem;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 45px;
  text-align: center;
}

h3, h4 {
  font-size: 40px;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

.image-animation {
  animation-name: opacity;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media only screen and (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.navigation {
  background-color: #FFF;
  width: 100%;
  z-index: 2;
}
.navigation__d-flex {
  display: flex;
  justify-content: space-between;
}
.navigation__logo {
  position: absolute;
  padding: 2em 1em 2em 0;
}
.navigation__collapsible {
  text-align: right;
  padding: 2em 0;
  width: 100%;
}
.navigation__collapsible .menu {
  font-size: 1.8rem;
  display: block;
}
.navigation #menu {
  display: none;
}
.navigation__container {
  max-height: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
  background-color: white;
  z-index: 2;
}
.navigation__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation__item {
  padding: 0.5em 0;
  text-align: center;
}
.navigation__link {
  color: #221D23;
}
.navigation__buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}
.navigation__buttons a {
  margin: 0.5em 0;
  color: #221D23;
}

@media only screen and (min-width: 730px) {
  .navigation {
    display: flex;
    justify-content: space-between;
  }
  .navigation__logo {
    position: static;
    padding: 2em 1em 2em 0;
  }
  .navigation__collapsible {
    width: 100%;
    clear: right;
    padding: 0;
  }
  .navigation__collapsible .menu {
    display: none;
  }
  .navigation__container {
    max-height: 100%;
    padding: 2em;
    overflow: visible;
    display: flex;
    flex-direction: row;
  }
  .navigation__container {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
  }
  .navigation__items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navigation__item {
    padding: 0;
    padding-right: 1em;
    border: none;
    width: initial;
    text-align: left;
  }
  .navigation__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navigation__buttons a {
    margin: 0;
    margin-left: 1em;
    color: #221D23;
  }
}
@media (min-width: 993px) {
  .headerSection {
    width: 100%;
    height: 820px;
    background-image: url("../images/bg-hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .headerSection__content {
    width: 35%;
    padding: 5%;
    position: absolute;
    z-index: 1;
  }
}
@media (max-width: 992px) {
  .headerSection {
    width: 100%;
  }
  .headerSection__image {
    width: 100%;
    height: 580px;
    background-image: url("../images/bg-hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .headerSection__content {
    width: 55%;
    padding: 5%;
    position: absolute;
    z-index: 1;
  }
}
@media (max-width: 768px) {
  .headerSection {
    width: 100%;
  }
  .headerSection__image {
    width: 100%;
    height: 460px;
    background-image: url("../images/bg-hero.svg");
    background-repeat: no-repeat;
  }
  .headerSection__content {
    width: 80%;
    padding: 5%;
    position: initial;
  }
}
@media (max-width: 600px) {
  .headerSection {
    width: 100%;
  }
  .headerSection__image {
    width: 100%;
    height: 360px;
    background-image: url("../images/bg-hero.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .headerSection__content {
    width: 80%;
    padding: 5%;
    position: initial;
  }
}
.features {
  padding: 1em 10%;
}
.features__title {
  text-align: center;
  padding-bottom: 2em;
}
.features__image {
  align-self: center;
  max-width: 90%;
}
.features__text {
  align-self: center;
}

.price {
  position: relative;
  padding-top: 10em;
}
.price__title {
  color: #FFF;
  padding-top: 3em;
  padding-bottom: 1em;
}
.price .row {
  padding: 1em 15%;
}
.price__title {
  text-align: center;
}
.price__content {
  background-color: #333745;
}

.prices-svg {
  width: 100%;
  position: absolute;
  z-index: -9999;
  top: 1rem;
  right: 0;
}

.footerSection {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #221D23;
  width: 100%;
}
.footerSection p, .footerSection a {
  color: #AEACAF;
}
.footerSection__list {
  display: flex;
}
.footerSection__list li a {
  padding-left: 2em;
  text-decoration: none;
}

@media (min-width: 768px) {
  .footerSection {
    padding: 2rem 2rem;
    flex-direction: row;
  }
  .footerSection__copyright {
    text-align: right;
  }
}
.primary-button {
  background-color: #2AB7CA;
  padding: 0.5em;
  color: #FFF;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.primary-button:hover {
  background-color: #77D1DD;
}
.primary-button:focus {
  background-color: #AEACAF;
}
.primary-button-regular {
  margin: 0em 1em;
}
.primary-button-large {
  width: 100%;
  border: none;
  outline: none;
  margin-top: 1em;
  padding: 1em 0;
  cursor: pointer;
}

.card {
  display: flex;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #FFF;
  justify-self: center;
  flex-direction: column;
}
.card:hover {
  box-shadow: 5px 5px 10px #221D23;
}
.card__price {
  padding-bottom: 1em;
}
.card__features {
  padding: 1em 0;
  flex-grow: 2;
  flex-basis: 160px;
  border-bottom: solid 1px #8F9199;
  border-top: solid 1px #8F9199;
  padding-left: 1.5em;
  list-style-type: disc;
}
.card__features li {
  margin: 0.5em 0;
}
.card__button {
  flex-grow: 1;
  flex-basis: 30px;
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
